#color{
    color:red
}
#giua{
    border: 3px solid green;
    text-align: center;
    padding: 15px;
}
#color2{
    color:red
}
#color3{
    color:blue
}
button{
    background-color: green;
    color: aliceblue;
    border: none
    display: inline-block;
    padding: 20px;
    font-size:16px;
    margin:4px 2px
    border-radius:12px 
}
#color5{
    background-color: white;
    padding:1px 10px 5px 8px;
    border-left:5px solid green ;
}